/* Top Bar Design */
.top-bar{
    padding: 13px;
}
.top-bar .top-bar-title{
    font-weight: bold;
    font-family: Montserrat;
}
.top-bar .text-container{
    display: inline-block; color: black !important;
}
.top-bar .icon{
    font-size:28px; color:#F6C510;
}
.top-bar .text-title{
    padding:0; margin:0; line-height: 13px; font-size:10px; font-weight: bold;
    font-family: Montserrat;
}
.top-bar .text-desc{
    padding:0; margin:0; line-height: 13px; font-size:13px;
    font-family: Montserrat;
}
/* Default Nav Bar Design */

.navcolor {
    background-color: #4b4e30;margin-top:-16px; padding-top: 3px; padding-bottom: 3px;
}

.nav-link {
    color:#ccac46;
}
.nav-item{
   padding: 25px;
}
.active{
    border-bottom: solid #ccac46 0.5px;
 }
.nav-item:hover{
    border-bottom: solid #ccac46 0.5px;
}
.nav-link:hover {
    color: #ccac46;
}
.divicon{
    margin-right: 10px;
}
.navbar-nav > li{
    padding-left:40px;
    padding-right:40px;
  }
.dropdown-menu {
    background-color: #4b4e30;
}
.dropdown-menu .dropdown-item {
    color: #ccac46;
    
}

.dropdown-menu .dropdown-item:hover {
    background-color: #ccac46;
    color: black;
    
}
.shopDropdownActive {
    background-color: rgba(204, 173, 70, 0.5);
    
}

.dropdown-menu .dropdown-divider {
    border-color: #ccac46;
}
@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
   
}

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 
    
}

