/* Top Bar Design */
.top-bar{
    padding: 13px;
}
.top-bar .top-bar-title{
    font-weight: bold;
}
.top-bar .text-container{
    display: inline-block; color: black !important;
}
.top-bar .icon{
    font-size:28px; color:#F6C510;
}
.top-bar .text-title{
    padding:0; margin:0; line-height: 13px; font-size:10px; font-weight: bold;
}
.top-bar .text-desc{
    padding:0; margin:0; line-height: 13px; font-size:15px;
}
/* Default Nav Bar Design */

.navcolor {
    background-color: #4b4e30; padding: 25px; margin-top:-16px;
}
.navbar-brand {
    color: white !important;
}
.nav-link {
    color:#ccac46 !important;
}
.divicon{
    margin-right: 10px;
}
.navbar-nav > li{
    padding-left:40px;
    padding-right:40px;
  }
@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
   
}

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 
    
}

