.dashboardSection .monthlyReportSection {
    width: auto; height: auto; margin: 50px; padding: 20px; background: #FFFFFF; box-shadow: 5px 4px 70px 5px rgba(0, 0, 0, 0.1); border-radius: 20px; 
}

.dashboardSection .monthlyReportSection .reportTexts {
    padding: 20px;
    /* background-color: blueviolet; */
}

.dashboardSection .monthlyReportSection .row .monthlyReportTextDiv {
    width: fit-content; padding: 20px; 
    /* background-color: red; */
}

.dashboardSection .monthlyReportSection .row .monthlyReportDateDiv {
    width: fit-content; padding: 20px; margin-left: auto; margin-right: 0;
    /* background-color: green; */
}

.monthlyReportText {
    font-family: Montserrat; font-style: normal; font-weight: 600; font-size: 34px; line-height: 41px; letter-spacing: 0.15em; color: #000000; 
}

.monthlyReportDateText {
    font-family: Montserrat; font-style: italic; font-weight: 600; font-size: 20px; line-height: 24px; text-align: right; color: #828282; 
}

.dashboardSection .monthlyReportSection .monthlyReportCharts .reportCharts {
    width: 100%; height: auto; padding:20px;
    margin: auto;
    /* background-color: red; */
}

.dashboardSection .monthlyReportSection .monthlyReportCharts .reportCharts .activeUsersDiv, .transactionCountDiv, .transactionSalesDiv, .pingCountDiv {
    /* background-color: blue; */
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.dashboardSection .monthlyReportSection .monthlyReportCharts .reportCharts .activeUsersCard {
    width: 100%;
    height: 100%;
    background-color: #e9d787;
    border-radius: 20px;
    padding: 20px;
}

.dashboardSection .monthlyReportSection .monthlyReportCharts .reportCharts .transactionCountCard {
    width: 100%;
    height: 100%;
    background-color: #e9d787;
    border-radius: 20px;
    padding: 20px;
}

.dashboardSection .monthlyReportSection .monthlyReportCharts .reportCharts .transactionSalesCard {
    width: 100%;
    height: 100%;
    background-color: #e9d787;
    border-radius: 20px;
    padding: 20px;
}

.dashboardSection .monthlyReportSection .monthlyReportCharts .reportCharts .pingCountCard {
    width: 100%;
    height: 100%;
    background-color: #e9d787;
    border-radius: 20px;
    padding: 20px;
}


.dashboardSection .monthlyReportSection .monthlyReportCharts .reportCharts .activeUsersDiv .activeUsersCard .activeUsersDetails {
    width: auto;
    height: 100%;
    padding: 20px;
    /* background-color: white; */
}

.dashboardSection .monthlyReportSection .monthlyReportCharts .reportCharts .transactionCountDiv .transactionCountCard .transactionCountDetails {
    width: auto;
    height: 100%;
    padding: 20px;
    /* background-color: white; */
}

.dashboardSection .monthlyReportSection .monthlyReportCharts .reportCharts .transactionSalesDiv .transactionSalesCard .transactionSalesDetails {
    width: auto;
    height: 100%;
    padding: 20px;
    /* background-color: white; */
}

.dashboardSection .monthlyReportSection .monthlyReportCharts .reportCharts .pingCountDiv .pingCountCard .pingCountDetails {
    width: auto;
    height: 100%;
    padding: 20px;
    /* background-color: white; */
}

.dashboardSection .monthlyReportSection .monthlyReportCharts .reportCharts .transactionSalesDiv .transactionSalesCard .transactionSalesDetails .tranTexts {
    width: auto;
    height: auto;
    /* background-color: blue; */
    margin-bottom: 0;
    margin-top: auto;
}

.activeUsersNum {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    color: #000000;
    margin-top:20px;
    /* background-color: green; */
}

.activeUsersText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    /* background-color: pink; */
}

.reportIcons {
    color: #D0C079;
}

.monthlyReportCardTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    /* font-size: 10px; */
    /* line-height: 12px; */
    /* letter-spacing: 1.5em; */
    color: #000000;
    text-align: center;

    /* background-color: blue; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.servicesText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 30px;

}

.productsText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.servicesNum, .productsNum {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #000000;

}

.tranServiceText, .tranProdText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}

.tranServiceNum, .tranProdNum {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #000000;

}

.pingCountNum {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    color: #000000;
}

.pingCountText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.dashboardSection .chartsSection {
    width: auto; height: auto; margin: 50px; padding: 20px;
    /* background: #FFFFFF; 
    box-shadow: 5px 4px 70px 5px rgba(0, 0, 0, 0.1);  */
    
    /* background-color: red; */
}

.dashboardSection .chartsSection .topSellingTables {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dashboardSection .chartsSection .topSellingTables .topProductsDiv {
    width: 100%;
    height: 100%;
}

.dashboardSection .chartsSection .topSellingTables .topServicesDiv {
    width: 100%;
    height: 100%;
}

.dashboardSection .chartsSection .topSellingTables .topProductsDiv .topProducts {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}

.dashboardSection .chartsSection .topSellingTables .topServicesDiv .topServices {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}


.dashboardSection .chartsSection .topSellingTables .topProductsDiv .topProducts .row {
    /* background-color: red; */
    padding: 10px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dashboardSection .chartsSection .topSellingTables .topServicesDiv .topServices .row {
    padding: 10px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.dashboardSection .chartsSection .topSellingTables .topProducts .row .topProductsIconDiv, .topServicesIconDiv {
    margin-left: auto;
    margin-right: 0;
}

#topServicesTable {
    margin-top: 0;
}

.dashboardSection .chartsSection .chartsDiv .chartRow1 {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* background-color: purple; */
}

.dashboardSection .chartsSection .chartsDiv .chartRow2 {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* background-color: green; */
}

.dashboardSection .chartsSection .chartsDiv .chartRow1 .charts1 .activeUsersChart {
    width: auto; height: auto; padding: 20px; background: #FFFFFF; box-shadow: 5px 4px 70px 5px rgba(0, 0, 0, 0.1); border-radius: 20px; 
}

.dashboardSection .chartsSection .chartsDiv .chartRow1 .charts1 .activeUsersChart .activeUsersChartDetails {
    padding: 20px;
    /* background-color: red; */
}

/* .dashboardSection .chartsSection .chartsDiv .chartRow1 .charts1 .activeUsersChart .activeUsersChartDetails .activeUsersTextDiv {
    background-color: pink;
} */

.dashboardSection .chartsSection .chartsDiv .chartRow1 .charts1 .activeUsersChart .activeUsersChartDetails .activeUsersIconDiv {
    margin-left: auto;
    margin-right: 0;
    /* background-color: orange; */
}

.dashboardSection .chartsSection .chartsDiv .chartRow1 .charts2 .serviceProdCount {
    width: auto; height: auto; padding: 20px; background: #FFFFFF; box-shadow: 5px 4px 70px 5px rgba(0, 0, 0, 0.1); border-radius: 20px; 
}

.dashboardSection .chartsSection .chartsDiv .chartRow1 .charts2 .serviceProdCount .serviceProdCountDetails {
    padding: 20px;
    /* background-color: red; */
}

/* .dashboardSection .chartsSection .chartsDiv .chartRow1 .charts2 .serviceProdCount .serviceProdCountDetails .serviceProdTextDiv {
    background-color: pink;
} */

.dashboardSection .chartsSection .chartsDiv .chartRow1 .charts2 .serviceProdCount .serviceProdCountDetails .serviceProdIconDiv {
    margin-left: auto;
    margin-right: 0;
    /* background-color: orange; */
}

.dashboardSection .chartsSection .chartsDiv .chartRow2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboardSection .chartsSection .chartsDiv .chartRow2 .charts3 .transactionCount {
    width: auto; height: auto; padding: 20px; background: #FFFFFF; box-shadow: 5px 4px 70px 5px rgba(0, 0, 0, 0.1); border-radius: 20px; 
}

.dashboardSection .chartsSection .chartsDiv .chartRow2 .charts3 .transactionCount .transactionCountDetails {
    padding: 20px;
    /* background-color: red; */
}

/* .dashboardSection .chartsSection .chartsDiv .chartRow2 .charts3 .transactionCount .transactionCountDetails .transactionCountTextDiv {
    background-color: pink;
} */

.dashboardSection .chartsSection .chartsDiv .chartRow2 .charts3 .transactionCount .transactionCountDetails .transactionCountIconDiv {
    margin-left: auto;
    margin-right: 0;
    /* background-color: orange; */
}

.dashboardSection .chartsSection .chartsDiv .chartRow2 .charts4 .pingCount {
    width: auto; height: auto; padding: 20px; background: #FFFFFF; box-shadow: 5px 4px 70px 5px rgba(0, 0, 0, 0.1); border-radius: 20px; 
}

.dashboardSection .chartsSection .chartsDiv .chartRow2 .charts4 .pingCount .pingCountDetails {
    padding: 20px;
    /* background-color: red; */
}

/* .dashboardSection .chartsSection .chartsDiv .chartRow2 .charts4 .pingCount .pingCountDetails .pingCountTextDiv {
    background-color: pink;
} */

.dashboardSection .chartsSection .chartsDiv .chartRow2 .charts4 .pingCount .pingCountDetails .pingCountIconDiv {
    margin-left: auto;
    margin-right: 0;
    /* background-color: orange; */
}

.chartText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
}

.chartIcons {
    color: rgba(75, 78, 48, 0.06);
}

.supportNotifSection .notifDiv, .pingNotifSection .notifDiv, .productsInvNotifSection .notifDiv {
    width: 100%; margin-top: 10px; margin-bottom: 10px;  margin-left: auto; margin-right: auto;
}

.supportNotifSection, .pingNotifSection, .productsInvNotifSection, .notifDiv .notifRow {
    width: 100%; height: auto; margin-left: auto; margin-right: auto;
}

.supportNotifCard .test {
    width: 100%; height: auto; margin-left: auto; margin-right: auto; padding: 10px;
}

.pingNotifCard .pingNotifRow {
    width: 100%; height: auto; margin-left: auto; margin-right: auto; padding: 10px;
}

.productsInvNotifCard .productsInvNotifRow .productsInvNotifDivExt {
    width: 100%; height: auto; padding: auto;
}

.productsInvNotifCard .productsInvNotifRow {
    width: 100%; height: auto; margin-left: auto; margin-right: auto; padding: 10px;
}

.productsInvNotifRow .productsInvNotifDetails {
    width: 100%; height: fit-content; padding: 10px; margin-left: auto; margin-right: auto;

}

.notifIcon {
    position: absolute; margin-left: 20px; margin-right: 20px; margin-top: 15px; margin-bottom: 15px; color: white;
}

.topProductsTableHeader, .topServicesTableHeader {
    background-color: #BEBEBE; 
}

.supportNotifIconDiv {
    background-color: #5281ce; border-radius: 50%; width: 70px; height: 70px; padding:2px; margin:10px auto;
}

.pingNotifIconDiv {
    background-color: #e9d787; border-radius: 50%; width: 70px; height: 70px; padding:2px; margin:10px auto;
}

.productsInvNotifIconDiv {
    background-color: #bae8ac; border-radius: 50%; width: 70px; height: 70px; padding:2px; margin:10px auto;
}

.supportNotifDetails .test2 {
    width: 100%; height: auto; padding: 5px;margin-left: auto; margin-right: auto;
}

.supportNotifDetails .test2 .supportNotifTextDiv {
    padding-top: 15px;
}

.notifHeading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 29px;
    color: #000000;
}

.notifText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 118.9%;
    letter-spacing: 0.05em;
    color: #000000;

}

/* CHARTS */
#activeUserLineChart, #serviceProdCountPie, #transactionCountLine, #pingCountBar {
    width: 100%;
    height: auto;
    /* background-color: pink; */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 100px) {
    .monthlyReportText {
        font-size: 20px;

    }
    .monthlyReportDateText, .activeUsersText, .servicesText, .productsText {
        font-size: 14px;
    }
    .activeUsersNum, .pingCountNum {
        font-size: 34px;
        
    }

    .servicesNum, .productsNum {
        font-size: 24px;
        
    }
    .tranServiceText, .tranProdText, .pingCountText, .chartText {
        font-size: 16px;
        
    }
    .tranServiceNum, .tranProdNum {
        font-size: 17px;
        
    }

    .monthlyReportDateDiv {
        margin-left: 0;
        margin-right: auto;
    }

    
}
  
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .monthlyReportText {
        font-size: 24px;

    }
    .monthlyReportDateText, .activeUsersText, .servicesText, .productsText {
        font-size: 16px;
    }
    .activeUsersNum, .pingCountNum {
        font-size: 48px;
        
    }

    .servicesNum, .productsNum {
        font-size: 34px;
        
    }
    .tranServiceText, .tranProdText, .pingCountText, .chartText {
        font-size: 20px;
        
    }
    .tranServiceNum, .tranProdNum {
        font-size: 17px;
        
    }

    .monthlyReportDateDiv {
        margin-left: 0;
        margin-right: auto;
    }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .monthlyReportText {
        font-size: 34px;

    }
    .monthlyReportDateText, .activeUsersText, .servicesText, .productsText {
        font-size: 20px;
    }
    .activeUsersNum, .pingCountNum {
        font-size: 64px;
        
    }

    .servicesNum, .productsNum {
        font-size: 36px;
        
    }
    .tranServiceText, .tranProdText, .pingCountText, .chartText {
        font-size: 24px;
        
    }
    .tranServiceNum, .tranProdNum {
        font-size: 17px;
        
    }

    .monthlyReportDateDiv {
        margin-left: auto;
        margin-right: 0;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .monthlyReportText {
        font-size: 34px;

    }
    .monthlyReportDateText, .activeUsersText, .servicesText, .productsText {
        font-size: 20px;
    }
    .activeUsersNum, .pingCountNum {
        font-size: 64px;
        
    }

    .servicesNum, .productsNum {
        font-size: 36px;
        
    }
    .tranServiceText, .tranProdText, .pingCountText, .chartText {
        font-size: 24px;
        
    }
    .tranServiceNum, .tranProdNum {
        font-size: 17px;
        
    }

    .monthlyReportDateDiv {
        margin-left: auto;
        margin-right: 0;
    }
}