.supportContainer, .supportTableContainer {
    width: auto; height: auto; margin: 50px; padding: 20px; background: #FFFFFF; box-shadow: 5px 4px 70px 5px rgba(0, 0, 0, 0.1); border-radius: 20px; 
}

.supportContainer .supportHeadingDiv {
  padding: 20px; margin-bottom: 10px; 
}

.supportContainer .supportHeadingDiv .row .supportTextDiv {
  width: fit-content; padding: 10px; 
}
.supportContainer .supportHeadingDiv .row .supportIcon {
  width: fit-content; color: rgba(75, 78, 48, 0.34); padding: 10px; 
}

.supportText {
font-family: Montserrat; font-style: normal; font-weight: 500; font-size: 34px; line-height: 41px; display: flex; align-items: center; letter-spacing: 0.25em; color: #000000; 

}

.supportContainer .supportOverviewDiv {
  padding: 20px; margin-bottom: 10px; 
  /* background-color: blue; */
  
}

.supportContainer .supportOverviewDiv .row .supportSummaryColDiv .supportSummaryColRow {
  /* background-color: orange; */
  padding:20px;
  height: 100%; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.supportContainer .supportOverviewDiv .row .supportSummaryColDiv .supportSummaryColRow .subHeadSup {
  width: 100%;
  height: auto; 
  border-radius: 5px;
  border: solid 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.supportContainer .supportOverviewDiv .row .supportSummaryColDiv .supportSummaryColRow .subHeadSup .subHeadSupRow {
  /* background-color: red;  */
  height: 100%; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  
}

.supportContainer .supportOverviewDiv .row .supportSummaryColDiv .supportSummaryColRow .subHeadSup .subHeadSupRow .totalTicketIconDiv {
  width: 100%;
  height: auto;
  background-color: #98EFBB; 
  border-radius: 5px;
  
}

.supportContainer .supportOverviewDiv .row .supportSummaryColDiv .supportSummaryColRow .subHeadSup .subHeadSupRow .totalTicketColTextDiv, .openTicketColTextDiv, .closedTicketColTextDiv {
  padding-top: 30px;
  padding-bottom: 20px;
  
}

.supportContainer .supportOverviewDiv .row .supportSummaryColDiv .supportSummaryColRow .subHeadSup .subHeadSupRow .openTicketIconDiv {
  width: 100%;
  height: auto;
  background-color: #FFB36C; 
  border-radius: 5px;
}

.supportContainer .supportOverviewDiv .row .supportSummaryColDiv .supportSummaryColRow .subHeadSup .subHeadSupRow .closedTicketIconDiv {
  width: 100%;
  height: auto;
  background-color: #FF6C87; 
  border-radius: 5px;
}

.totalTicketNumText, .openTicketNumText, .closedTicketNumText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.totalTicketText, .openTicketText, .closedTicketText{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.supportSummaryChartText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 132%;
  text-align: center;
  color: #000000;
}

/* CHART CSS */
#supportOverviewChart {
    width: 100%;
    height: auto;
    /* background-color: pink; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon1{
    font-size: 90px;
    
    color: white;
    
}


.supHeadingDiv, .supTableDiv {
  padding: 20px; margin-bottom: 10px; 
  
}

.supTableHeader {
  background-color: #BEBEBE; 
}


.supHeadingDiv .row .supTextDiv {
  width: fit-content; padding: 10px; 
  
}

.supHeadingDiv .row .supIcon {
  width: fit-content; color: rgba(75, 78, 48, 0.34); padding: 20px; 
  
}

.supText {
font-family: Montserrat; font-style: normal; font-weight: 500; font-size: 30px; line-height: 30px; display: flex; align-items: center; color: #000000; 
}

.supOp{
  color: #328654;
}

.supCls{
  color: #FF6C87;
}

/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 100px) {
  
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}